<table border="2">
    <thead>
    <tr>
        <th>User</th>
        <th>Password</th>
        <th>IP</th>
        <th>Result</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="loginUser in historyUsers|orderBy:'time'">
            <td>{{loginUser.user||'/'}}</td>
            <td>{{loginUser.password}}</td>
            <td>{{loginUser.ip}}</td>
            <td>{{loginUser.result}}</td>
            <td>{{loginUser.time}}</td>
        </tr>
    </tbody>
</table>

<button ng-click="goHome()">Back</button>